.category-container {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0px;
  margin-left: 55px;
}

.category-container > button {
  font-size: 30px;
  border: none;
  height: 60px;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
}

.form-container {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.form-container > button {
  padding: 7px;
  margin: 0px 50px 0px 50px;
  font-size: 30px;
  border: none;
  border-radius: 30px;
}

.main-img {
  max-height: 400px;
  height: 100%;
  width: auto;
  object-fit: cover;
  text-align: center;
  background-color: #fff7f7;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.index-container {
  background-color: #fff7f7;
  margin-top: 20px;
  padding-bottom: 30px;
}

.index-card-container {
  background-color: #fff7f7;
  width: 1240px;
  margin: auto;
  padding-bottom: 25px;
}

.main-info-content {
  width: 40%;
  text-align: center;
  justify-content: center;
  margin: 50px auto 50px auto;
}

.col {
  padding: 0px;
  width: 25%;
}

.card {
  margin: 10px;
  padding: 15px 15px 0px 15px;
  cursor: pointer;
}

.card:hover {
  border: 5px solid rgb(253, 203, 224);
  border-radius: 10px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.card-body {
  padding: 15px 5px 20px 5px;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-title {
  font-size: 21px;
  margin: 0px 0px 10px 0px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.pagination {
  text-align: center;
  justify-content: center;
}

.page-link {
  color: #f480ff;
  border-color: #f9d9ff;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
}

.page-link:hover {
  color: #ea00ff;
  border-color: #e04bfa;
}

.active > .page-link,
.page-link.active {
  border-color: #e04bfa;
  background-color: rgb(236, 144, 255);
  color: #ffffff;
  font-weight: bold;
}

.info {
  border: 0px;
  background-color: #ffffff;
  color: rgb(13, 110, 253);
  font-size: 33px;
  border-radius: 30px;
}

.bi {
  float: right;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  margin: 0px 4px 0px 0px;
  width: 16px;
  height: 16px;
  margin: 7px 5px 0px 0px;
}

.cardlikecount {
  float: right;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  width: 16px;
  height: 16px;
}

.main-img-text1 {
  font-size: 23px;
  font-weight: 600;
  position: absolute;
  width: 550px;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-img-text2 {
  font-size: 23px;
  font-weight: 600;
  position: absolute;
  width: 590px;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select option[value=""][disabled] {
  display: none;
}
