html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
input {
	border: none;
}
.register-box {
  width: 100%;
  height: 110rem;
  font-family: Inter, 'Source Sans Pro';
  float: right;
}
.register-content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff7f7;
}
.about-page {
  width: 5.5rem;
  height: 3.2rem;
  position: absolute;
  left: 21.6rem;
  top: 22.5rem;
  display: flex;
  font-size: 2.3813rem;
  font-weight: 700;
  line-height: 1.3102362525;
  letter-spacing: -0.06rem;
  color: #d83dbf;
  white-space: nowrap;
}
.div-input-list {
  width: 44rem;
  height: 5.6rem;
  position: relative;
  left: 4rem;
  top: 30.8rem;
  margin-bottom: 35px;
}
.label {
    box-sizing: border-box;
    padding-right: 1.85rem;
    width: 100%;
    height: 2.1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 15px;
    margin-bottom: 5px;
  }
.info {
  box-sizing: border-box;
  padding: 0.802rem 1.3rem 1.05rem 1.3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dfdfdf;
  border-radius: 0.4rem;
  background-color: #ffffff;
}
select option[value=""][disabled] {
	display: none;
}
.social-login {
    width: 29.8rem;
    height: 5.2rem;
    position: absolute;
    left: 10.7rem;
    top: 87rem;
    display: flex;
    column-gap: 4.6rem;
    align-items: flex-start;
    margin: 140px 0px 0px 40px;
}
.icon {
  margin-top: 0.1rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  cursor: pointer;
}
.button-register {
    width: 44rem;
    height: 5.6rem;
    position: absolute;
    left: 4rem;
    top: 72.8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.575rem;
    font-weight: 400;
    line-height: 1.168253944;
    letter-spacing: -0.06rem;
    color: #242424;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    background-color: rgba(255, 199, 242, 0.400000006);
    border-radius: 0.4rem;
    margin-top: 150px;
  }
  .logo-img {
    width: 17.8rem;
    height: 17.4rem;
    position: absolute;
    left: 17.1rem;
    top: 4.2rem;
    object-fit: cover;
    vertical-align: top;
  }
.login {
    width: 4.5rem;
    height: 2.1rem;
    cursor: pointer;
    position: absolute;
    left: 18.0rem;
    top: 81rem;
    display: flex;
    font-size: 1.5875rem;
    font-weight: 400;
    line-height: 1.3102361724;
    letter-spacing: -0.06rem;
    color: #8b8b8b;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    margin: 150px 0px 0px 0px;
    float: right;
  }
.reset-password {
    width: 4.5rem;
    height: 2.1rem;
    cursor: pointer;
    position: absolute;
    left: 18.4rem;
    top: 81rem;
    display: flex;
    font-size: 1.5875rem;
    font-weight: 400;
    line-height: 1.3102361724;
    letter-spacing: -0.06rem;
    color: #8b8b8b;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    margin: 150px 0px 0px 70px;
    float: right;
}
.page-img {
    width: 75%;
    height: 110rem;
    position: relative;
    background-size: 100% 125%;
    background-position: -0.2rem -22.4rem;
    background-image: url('/static/img/user/page-img.png');
    flex-shrink: 0;
    margin-left: 52rem;
  }