html, body {
    width: 100%;
    height: 100%;
}

.first-line {
    border-color: #fff7f7;
    border: 1px solid;
    background-color: #fff7f7;
    display: flex;
    margin-top: 10%;

    width: 90%;
    margin: 5% auto 0px auto;
}


.second-line {
    border-color: #fff7f7;
    border: 3px solid;
    background-color: #fff7f7;
    display: flex;
    height: 100%;
    width: 90%;
}

#title {
    margin: auto 5% auto 5%;
}
#tools {
    margin: auto 5% auto auto;
}

#content {
    border: 2px solid;
    width: 100%;
    height: 600px;
    overflow-y: auto;
    border: 1px solid #db7878;
    text-align: center;
    position: relative;
}

#content-box {
    border: 1px solid;
    width: 100%;
    height: 450px;
    overflow-y: auto;
    border: 1px solid #0a0808;
    text-align: center;
    position: relative;
    margin: 5% auto 5% auto;
}

.page-img {
    width: 50%;
    height: 50%;
}

#comment {
    height: 600px;
    overflow-y: auto;
    border: 1px solid;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#comment-list {
    width: 20%;
    margin-left:90px;
}

.single_comment {
    position: relative;
    display: flex;
    margin: 50px;
    width: 350px;
    height: 100px;
    background: #ddd;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
}

.single_comment::after {
    content : "";
    border-top: 0px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 16px solid #ddd;
    border-right: 0px solid transparent;
    position: absolute;
    top: 70px;
    left: -18px;
}

.comment_author_info{
    display: flex;
    justify-content: flex-star;
    align-items: center;
    margin-left:15px;

}

.comment_author_profile {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 15px;
}



.comment_content {    
    overflow: hidden;
    margin-left: 50px;
}

#counts {
    width: 14%;
    display: flex;
}

#counts p {
    margin: auto 10px auto 0px; /* 원하는 간격 설정 */
}

#translator {
    display: flex;
    margin: auto 0% auto 0%;
}


#bottom-button {
    position: absolute;
    display:flex;
    justify-content: flex-end;
    margin-top: auto;
    bottom: 0;
    right: 0;
}

.btn-block {
    width: 15%;
    margin-left: 10px;
}
